# Python
__pycache__/
*.py[cod]
*.sqlite3
env/
venv/
ENV/
*.egg-info/
.DS_Store

# Django
*.log
staticfiles/
media/

# Node.js
node_modules/
build/
dist/
.env

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.swp 